body
{

background-image: url("Mex.jpg");
background-size: cover;             
background-attachment: fixed;    
    background-repeat:   no-repeat;
    background-position: center center;
}
